<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milledoni</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<header class="header">
    <img class="headerImg" src="/img/group-677.svg" alt="Milledoni's logo">
</header>