:root {
    --giftContainer-bg-color: #F9F2D4;

}

@font-face {
    font-family: "Parkinsans Regular";
    src: url("/fonts/Parkinsans-Regular.ttf");
}

.header{
    height: 10%;
    margin-bottom: 3%;
    border-bottom: 2px solid black;
}

.headerImg {
    padding: 5px;
}

.giftImage {
    width: 100%;
    height: auto;
    margin: auto;
}

.giftContainer {
    padding: 20px;
    background-color: var(--giftContainer-bg-color);
    display: grid;
    margin: auto;
    width: 80%;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.giftCard {
    font-family: "Parkinsans Regular";
    max-width: 80%;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #00000059;
    margin-bottom: 20px;
    padding: 10px;
}